#map{
    
    width: 1024px;
    background: url('/images/map.jpg') no-repeat ;
    height: 1100px;
    position: relative;
    left: 0;
    top: 0;
    float: left;
}
.metro_station{
    display: block;
    position: absolute;
    height: 40px;
    width: 100px;
/*    border:solid 1px aqua;*/
}
#bar{
    width: 200px;
    float: left;
}
#table{
    margin-top: 80px;
}
#table .station{
    padding: 5px 10px;
    border: solid 1px #000;
}
#table table{
    border-spacing: 0;
}
#metro_station{
    margin-top: 30px;
}
#metro_dealer{
    margin-top: 30px;
}
#metro_dealer a{
    margin-top: 5px;
    clear: both;
    display: block;
}